<div *ngIf="messageService.messages.length">

  <h2>Mensajes</h2>
  <button class="clear"
          (click)="messageService.clear()">Borrar</button>
  <div *ngFor='let message of messageService.messages'>
       {{message}} 
  </div>

</div>